
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<h3>Please Fill out this form</h3>
<form action="/Person/Display">
    Id : <input type="text" value="" name="id" />
    <br />
    Name : <input type="text" value="" name="name" />
    <br />
    Image :
    <select name="img">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
    </select>
    <br />
    <input type="submit" value="Save" name="btn" />

</form>

