
@{
    ViewBag.Title = "GetAll";
}

<h2>GetAll</h2>

<a href="/Car/Create">Create new car</a>

<div>
    <table>
        <tr>
            <th>Num</th>
            <th>Manfacture</th>
            <th>Model</th>
            <th>Color</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>

        @foreach(var item in ViewBag.Cars)
            {
                <tr>
                    <td>@item.Num</td>
                    <td>@item.Manfacture</td>
                    <td>@item.Model</td>
                    <td>@item.Color</td>
                    <td> <a href="/Car/GetCarByNum/@item.Num">Select Car</a> </td>
                    <td><a href="/Car/Edit/@item.Num">Edit Car</a></td>
                    <td><a href="/Car/DeleteCar/@item.Num">Delete Car</a></td>
                </tr>
            }
    </table>
</div>


